<!-- About Section -->
<section class="success" id="about">
	<hr class="star-primary"/>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-2">
                <p>A technology leader with a career spanning 30 years designing and delivering innovative software solutions. A creative problem solver with the insight and analytic skills to transform high level ideas and requirements into intuitive products and services that address the needs of both customers and business stakeholders.</p>
            </div>
            <div class="col-lg-5">
                <ul>
	                <li>Experienced in leading the design and Agile-based development of products and services for web, mobile, and desktop.</li>
					<li>Designed and delivered scalable applications accommodating hundreds of thousands of users and multi-terabyte data sets.</li>
					<li>A hands-on architect with full-stack technology expertise who has led onshore and offshore teams and managed multi-million dollar budgets.</li>
                </ul>
            </div>
        </div>
    </div>
</section>