<!-- About Section -->
<section class="success" id="about">
	<hr class="star-primary"/>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-2">
                <p>A technology leader and creative problem solver with an extensive track record building innovative software solutions. Over the course of a career spanning 30 years, has gained the experience, insight, and analytical skills to transform high level requirements into intuitive, competitive products addressing customer requirements and market needs.</p>
            </div>
            <div class="col-lg-5">
                <ul>
	                <li>Led the development of products and services for web, mobile, and desktop with hands-on experience at each level of the technology stack.</li>
	                <li>Designed and developed the architecture for products that scale to hundreds of thousands of users.</li>
	                <li>Adept at managing onshore and offshore engineering teams and have been responsible for multi-million dollar budgets.</li>
	                <li>Practicing the Agile methodology since 2006.</li>
                </ul>
            </div>
        </div>
    </div>
</section>