<!-- Header -->
<header>
    <div class="container">
        <div class="row">
                <div class="intro-text">
                    <span class="skills">Product&nbsp;Architecture&nbsp;&amp;&nbsp;Design &bull;&nbsp;Full&nbsp;Stack&nbsp;Development &bull;&nbsp;Innovative Technology&nbsp;and&nbsp;Team&nbsp;Leader</span>
                </div>
            <div class="col-lg-12">
                <img class="img-responsive" src="img/profile.png" alt="">
            </div>
        </div>
    </div>
</header>