<!-- Skills Section -->
<section id="skills">
	<hr class="star-primary"/>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Skills</h2>
            </div>
        </div>
        <div class="row">
			<div class="skills-tiles col-lg-12">
				<div class="skills-section no-select">
					<span class="skills-category">Back End</span>
					<span class="skills-technology">Ruby on Rails</span>
					<span class="skills-technology">PHP / Zend</span>
					<span class="skills-technology">Python / Django</span>
					<span class="skills-technology">Grails / Groovy</span>
					<span class="skills-technology">Java EE</span>
					<span class="skills-technology">ASP.NET</span>
				</div>
				<div class="skills-section no-select">
					<span class="skills-category">Front End</span>
					<span class="skills-technology">AngularJS</span>
					<span class="skills-technology">Bootstrap</span>
					<span class="skills-technology">Sass</span>
					<span class="skills-technology">Compass</span>
					<span class="skills-technology">CoffeeScript</span>
				</div>
				<div class="skills-section no-select">
					<span class="skills-category">Mobile</span>
					<span class="skills-technology">iOS / Objective-C</span>
					<span class="skills-technology">Android</span>
					<span class="skills-technology">Appcelerator</span>
				</div>
				<div class="skills-section no-select">
					<span class="skills-category">Deployment&nbsp;&amp;&nbsp;Cloud</span>
					<span class="skills-technology">Heroku</span>
					<span class="skills-technology">Amazon S3</span>
					<span class="skills-technology">Amazon EC2</span>
					<span class="skills-technology">Git / GitHub</span>
				</div>
				<div class="skills-section no-select">
					<span class="skills-category">Database</span>
					<span class="skills-technology">PostgreSQL</span>
					<span class="skills-technology">MySQL</span>
					<span class="skills-technology">MongoDB</span>
					<span class="skills-technology">SQL Server</span>
					<span class="skills-technology">Oracle</span>
				</div>
				<div class="skills-section no-select">
					<span class="skills-category">Search&nbsp;&amp;&nbsp;Indexing</span>
					<span class="skills-technology">Elasticsearch</span>
					<span class="skills-technology">Apache Solr / Lucene</span>
				</div>
				<div class="skills-section no-select">
					<span class="skills-category">Visualization</span>
					<span class="skills-technology">OpenGL</span>
					<span class="skills-technology">SVG</span>
					<span class="skills-technology">WebGL</span>
					<span class="skills-technology">d3.js</span>
					<span class="skills-technology">Highcharts</span>
				</div>
				<div class="skills-section no-select">
					<span class="skills-category">Gaming&nbsp;&amp;&nbsp;Motion</span>
					<span class="skills-technology">Microsoft Kinect</span>
					<span class="skills-technology">Unity 3D</span>
				</div>
			</div>
        </div>
    </div>
</section>