#timeine-embed {
	color: #2c3e50;
}
#timeline-embed .vco-storyjs p {
		color: #2c3e50;
		font-size: 13px;
}

#timeline-embed .vco-storyjs .vco-feature h3, .vco-storyjs .vco-feature h4, .vco-storyjs .vco-feature h5, .vco-storyjs .vco-feature h6 {
		color: #2c3e50;
		margin-bottom: 5px;
}
#timeline-embed .slider-item .text h3 {
		color: #2c3e50;
		font-size: 20px;
		line-height: 24px;
}
