<!DOCTYPE html>
<html>
<head>
   <!-- HTML meta refresh URL redirection -->
   <meta http-equiv="refresh" 
   content="0; url=https://www.linkedin.com/in/robgabbard">
</head>
<body>
   <p>The page has moved to: 
   <a href="https://www.linkedin.com/in/robgabbard">https://www.linkedin.com/in/robgabbard</a></p>
</body>
</html>
<!--
<html>
    {% include head.html %}
    <body id="page-top" class="index">
    {% include nav.html %}
    {% include header.html %}
    {% include about.html %}
    {% include experience.html %}
    {% include skills.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}
    </body>
</html>
-->
